[safe]
	directory = /opt/homebrew/Library/Taps/homebrew/homebrew-cask
[user]
	email = your.email@example.com
	name = your-name
[pull]
	rebase = false
[init]
	defaultBranch = main
[coderabbit]
	machineId = cli/659da46262c3432bb43e39017d9f5403
